*.txt
*.xlsx
__pycache__
report.log
*.png
*.bak
*.json
LICENSE
README.md

tmp

# Python compiled files #
#########################
*.pyc
build
dist
*egg*/*
DOPER.egg-info
bin
include
lib
share

# ipynb checkpoints #
#####################
*checkpoint.ipynb
**/.ipynb_checkpoints/*


# solvers #
###########
*.exe

# test result files #
#####################
/examples/test_results/*